<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="static/css/main.css">
<title>Search Historic Data</title>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topright w3-padding-large w3-image">
        <a href="/">Home</a>
    </div>
    <div class="w3-display-middle">
        <h4>
            <form action="/search" method="post" enctype="multipart/form-data">
                <input type="text" id="code" name="code" value="2330" style="width:80%">股票代碼
                <button class="w3-button w3-dark-grey" type="submit" style="width:100%">
                    <i class="fa fa-paper-plane"></i> Submit
                </button>
            </form>
        </h4>

    </div>
</div>
